/*
Root
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --grey-color: #f3f3f3;
    --black-color: black;
    --white-color: white;

    --green-color: #335C51;
    --dark-green-color: #223530;

    --yellow-color: #D8C17B;
    --yellow-dark-color: #bea96a;

    --title-font: 'Noto Sans', sans-serif;
    --title-font-size: 24px;

    --h2-font-size: 20px;

    --h3-font-size: 18px;

    --text-font: 'Roboto', sans-serif;
}

html,
body {
    font-size: 16px;
    color: var(--black-color);
    background-color: var(--white-color);
    height: auto;
    overflow-x: hidden;
}

/*
General
*/
h1 {
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    font-weight: 700;
    color: var(--green-color);
}


h2 {
    font-family: var(--title-font);
    font-size: var(--h2-font-size);
    color: var(--green-color);
    font-weight: 700;
}

h3 {
    font-size: var(--h3-font-size);
    color: var(--green-color);
    font-weight: 700;
}

strong {
    color: var(--dark-green-color);
}

.jumbotron {
    background-color: var(--grey-color);
}

.logo {
    max-height: 40px;
    margin-right: 24px;
}

/*
Header
*/
.landing-header {
    height: 80px;
}

.logo-gida {
    max-height: 56px;
}

.menu {
    list-style: none;
    padding: 0px;
    margin: 0;
}

.menu li a {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: var(--green-color);
    transition: 100ms ease-in-out;
}

.menu li {
    margin-left: 24px;
}

.menu li:first-child {
    margin-left: 0px;
}

.menu li a:hover {
    color: var(--dark-green-color);
}

/*
Burger menu
*/
#burger-menu-icon {
    z-index: 100;
    padding: 16px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--green-color);
    display: none;
}

#burger-menu-icon:hover {
    color: var(--dark-green-color);
}

.mobile-menu {
    position: absolute;
    z-index: 1;
    width: 100%;
    opacity: 0;
    padding: 32px;
    transform: translateY(-80px);
    transition: 100ms ease-in-out;
    display: none;
}

.mobile-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-menu ul li {
    margin-bottom: 16px;
}

.mobile-menu ul li:last-child {
    margin-bottom: 0;
}

.mobile-menu ul li a {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: var(--green-color);
    transition: 100ms ease-in-out;
}

.menu-toggle {
    opacity: 1;
    transform: translateY(0px);
}

/*
Hero section
*/
#nome-bando {
    font-size: 12px;
}

/*
Tematiche section
*/
#tematiche {
    scroll-behavior: smooth;
}

/*
CTA section
*/
.cta-section {
    background-color: var(--green-color);
    padding: 80px 0px;
}

.cta-section h2 {
    color: var(--white-color);
}

.cta-section p {
    color: var(--white-color);
    font-size: 20px;
}

.cta-section button {
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 32px;
    background-color: var(--yellow-color);
    color: rgba(0, 0, 0, .87);
    border: none;
    border-radius: 4px;
    width: 200px;
    transition: 100ms ease-in-out;
}

.cta-section button:hover {
    background-color: var(--yellow-dark-color);
}

.cta-section .main-title {
    font-size: 24px;
}

.cta-section a {
    font-size: 18px;
    color: var(--green-color);
    transition: 100ms ease-in-out;
    text-decoration: none;
}

#contatti a {
    color: var(--yellow-color);
    transition: 100ms ease-in-out;
}

#contatti a:hover {
    color: var(--yellow-dark-color);
}

.cta-section #website-link {
    color: var(--white-color);
    transition: 100ms ease-in-out;
}

.cta-section #website-link:hover {
    color: var(--grey-color);
}

/*
News section
*/

.news-card {
    margin-bottom: 40px;

}

.news-card-img {
    padding: 0px;
}

.news-card img {
    border-radius: 16px 16px 0px 0px;
}

.news-card-info {
    padding: 24px;
    background-color: var(--grey-color);
    border-radius: 0px 0px 16px 16px;
}

.news-card-info .news-date {
    font-size: 12px;
    font-weight: 700;
}

/*
Media queries
*/
@media screen and (max-width: 576px) {

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
        text-align: justify;
    }

    .logo {
        margin-right: 8px;
    }

    .menu {
        display: none !important;
    }

    .mobile-menu {
        display: block !important;
    }

    #burger-menu-icon {
        display: block;
    }

    .cta-section p {

        text-align: center;
    }

    .cta-section button {
        width: 90%;
    }

}